* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 100vw;
  background-color: #e3e3e3;
}

.img {
  width: 100%;
}

.main-layout {
  max-width: 95vw;
  margin: 0 auto;
}

/* HEADER */

.header-container {
  background-color: #ff7f00;
  color: #fff;
  font-size: 1.3rem;
  /* margin-bottom: 5vh; */
}

.header-container button {
  color: #fff;
  border: none;
  font-size: 1.3rem;
  background-color: #ff7f00;
}

.header-container .main-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: Montserrat; */
}

.nav-container a {
  color: #fff;
  text-decoration: none;
}

.nav-container > *:not(:last-child) {
  margin-inline-end: 0.5rem;
  height: 5vh;
}

.nav-container > *:hover {
  color: black;
  cursor: pointer;
}

/* SEARCH */

.search-container {
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh auto;
  margin-top: 7vh;
}

.search-input {
  border-radius: 15px;
  padding: 0.2rem 0.3rem;
}

/* .search-words {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.search-btn {
  background-color: white;
  border-radius: 15px;
  padding: 0.1rem;
}

.search-btn:hover {
  background-color: #ffb162;
  cursor: pointer;
  transition: 0.3s;
}

/* GALLERY */

.gallery-container {
  background-color: #e3e3e3;
}

.gallery-container .main-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(45vw, 1fr));
  grid-auto-rows: 45vw;
  align-items: stretch;
  justify-items: center;
  width: 100%;
  padding: 2.5vw 0;
  gap: 2.5vw;
}

.gallery-img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
}

/* CANVAS */

.editor-container {
  display: grid;
}

.editor-container {
  width: 100%;
  padding-top: 10px;
  max-height: 95vh;
  margin-top: 5vh;
  z-index: 1;
}

.canvas-container {
  height: 90vw;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;

}




canvas {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.tools-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.meme-text {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 2rem;
  height: 40px;
  font-size: 1.2rem;
  border: none;
}

.meme-text::placeholder {
  font-size: 1.125rem;
}

.line-editors {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.line-editors > *:hover {
  outline: 1.5px solid black;
  cursor: pointer;
}

.line-editors > * {
  height: 40px;
  height: 40px;
  width: 40px;
  font-size: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  border: none;
}
.line-editors > *:nth-child(4):hover {
  background-color: lightgreen;
  transition: background 0.5s;
}
.line-editors > *:last-child:hover {
  background-color: rgb(243, 76, 76);
  transition: background 0.5s;
}

.text-editors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.text-family-color,.text-size-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .text-size-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.text-family-color > * ,.text-size-align > * ,.upload-services > * {
  background-color: #fff;
  border: none;
  height: 40px;
}
.text-family-color > *:hover,.text-size-align > *:hover,.upload-services > *:hover,.upload-services > *:hover {
  outline: 1.5px solid black;
  cursor: pointer;
}
.text-size-align > * {
  /* background-color: #fff;
  border: none;
  height: 40px; */
  font-size: 1.25rem;
  border-radius: 15px;
  width: 40px;
}

.family-select {
  width: 55%;
  border-radius: 15px;
  font-size: 1rem;
  color: grey;
  padding: 0.5rem 1rem;
}

.stroke-color,
.fill-color {
  width: 40px;
}

/* .text-size-align > *:hover {
  outline: 1.5px solid black;
  cursor: pointer;
} */

.upload-services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.upload-services > * {
  /* background-color: #fff;
  border: none; */
  border-radius: 15px;
  /* height: 40px; */
  /* font-size: 1.25rem; */
  /* padding: 0.5rem 1rem; */
}

.upload-services > button > a {
  color: black;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.upload-services > *:hover {
  /* outline: 1.5px solid black;
  cursor: pointer; */
  background-color: #ffb162;
  transition: background 0.3s;
}

body.menu-open .main-screen {
  pointer-events: auto;
  opacity: 1;
}


/* SCREENS */
/* MOBILE ONLY */
@media (max-width: 640px) {

  .header-container {
    position: fixed;
    width: 100%;
    max-width: 100vw;
    top: 0;
  }
.editor-container {
    width: 100%;
    margin-top: 5vh;
    padding-top: 10px;
    max-height: 95vh;
    /* height: 95vh; */
  }


  .nav-container {
    position: fixed;
    top: 5vh;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    max-height: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    transition: 1s;
    z-index: 2;
    overflow: hidden;
  }

  body.menu-open .nav-container {
    max-height: 50vh;
    height: 50vh;
    z-index: 10;

  }

  body.menu-open .nav-container > * {
    flex-basis: 27.6vh;
    width: 100vw;
    background-color: #ff7f00;
    border: 1px solid #ffb162;
  }

  body.menu-open .nav-container > *:hover {
    background-color: #ffb162;
    transition: 0.6s;
  }
  body.menu-open .nav-container a:hover {
    color: black;
  }
  .btn-menu {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-menu:hover {
    color: black;
    cursor: pointer;
  }
  body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
  }

  .main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.6s;
  }

  .btn-menu:hover {
    cursor: pointer;
  }

  .editor-container {
    grid-template-columns: 1fr 90vw 1fr;
    grid-template-rows: auto auto;
    /* max-height: 80vh; */
    padding-bottom: 10px;
    /* height: 70vh; */
    /* margin: 5vh auto; */
  }

  .canvas-container {
    height: 90vw;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
  }
  .tools-container {
    margin-top: 10px;
    grid-column: 2;
    /* grid-row: 3; */
    gap: 5vw;
    justify-content: center;
  }
  .line-tools,
  .text-editors,
  .upload-services,
  .line-editors {
    width: 100%;
  }
  .text-editors {
    width: 100%;
  }
}

/* TABLET*/

@media (min-width: 640px) {
  .gallery-container .main-layout {
    grid-template-columns: repeat(3, minmax(30vw, 1fr));
    grid-auto-rows: 30vw;
  }
  .main-header{
    position: relative;
    display: flex;
  }
  .main-header .main-layout{
    width:95vw
  }
  .btn-menu {
    display: none;
  }
  .editor-container {
    grid-template-columns: 1fr 60vw 1fr;
    grid-template-rows: 1fr 2fr;
    padding-bottom: 10px;
  }

  .canvas-container {
    height: 60vw;
    width: 60vw;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
  }
  .tools-container {
    margin-top: 10px;
    grid-column: 2;
    grid-row: 2;
    gap: 5vw;
  }
}

/* medium */

@media (min-width: 860px) {
  .gallery-container .main-layout {
    grid-template-columns: repeat(4, minmax(21.875vw, 1fr));
    grid-auto-rows: 21.875vw;
  }
  .gallery-img {
    opacity: 0.5;
  }

  .gallery-img:hover {
    opacity: 1;
    transition: 0.5s;
  }

  .editor-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    margin-top: 5vh;
  }

  .canvas-container {
    /* outline: 1px solid black; */
    grid-column: 1;
    height: 70vh;
    width: 70vh;
    max-width: 47.5vw;
    max-height: 47.5vw;
  }
  .tools-container {
    grid-row: 1;
    padding: 0 10px;
    justify-content: space-between;
  }
  .meme-text,
  .text-editors,
  .upload-services {
    width: 90%;
  }
  .line-editors {
    width: 60%;
  }
  .upload-services > * {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1040px) {
  .gallery-container .main-layout {
    grid-template-columns: repeat(5, minmax(17vw, 1fr));
    grid-auto-rows: 17vw;
  }
}
